html, body {
  font-size: 16px;
  color: white;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}
.container {
  display: flex;
  flex-direction: column;
    width: 960px;
    border: 1px solid red;
}

.banner {
  display: flex;
  align-items: center;
  background-color: black;
  width: 100%;


}
.logo {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 1.5rem;

}
.title {
  margin-left: 0.5rem;
  margin-top:  0.66rem;
  margin-bottom: 0.66rem;
}
.main-content {
  display: flex;
  flex-direction: column;
  width: 960px;
  align-self: center;
  display: block;
  height: 25rem;
  background-size: cover;
  background-image: url("../images/moto.jpeg");
}
.new-arrival {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-top: 9rem;
  margin-left: 5rem;
  width: 20rem;
}
.new-arrival p {
  margin-top: 2rem;
  margin-bottom: 0.25rem;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 3rem;
}
  .new-arrival span {
   margin-left: 3rem;
   margin-top: 0.25rem;
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;

}
.navigation  {
  display: inline-flex;
  background-color: firebrick;
  justify-content: space-around;
}
.navigation a {
  color: white;
  text-decoration: none;
}
.navigation span {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.new-arrival {
  display: flex;
  width: 20rem;
  margin-top: 9rem;
  margin-bottom: 20rem;
}
.accessories {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  width: 960px;
  height: 14.25rem;
  border: 1px solid blue;
}
.accessories span {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 13rem;
  border: 4px solid black;
  margin-top: 3rem;
  margin-bottom: 1rem;


}
.accessories img {
  display: block;
  width: auto;
  height: 50%;
  padding: 2rem;
}
.captions h2 {
 background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 30%;
  text-align: center;
  border-right: 3px solid black;
  font-weight: bold;
  font-family: Helvetica;
}


.captions {
  display: inline-flex;
  flex-direction: row;

}
.captions span {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;

}
